<% msg = if String.length(@message) > 200, do: String.slice(@message, 0..200) <>"...", else: @message %>
<h2 class="data-heading">Message:</h2>
<p class="data-inline"> <span class="data-title">Message:</span> <span class="data data-inline"><%= msg %></span></p>
<p class="data-inline"> <span class="data-title">Message Hash (z):</span> <span class="data data-inline"><%= @z %></span></p>