	<%= render(BitcoinWeb.SharedView, "_subnav.html", subnav_items: [
				%{text: "home", to: Routes.page_path(@conn, :index)},
				%{text: "signature home", to: Routes.signature_path(@conn, :index)},
			])
		%>

<section class="content">
	<%= if @option == nil do%>
	<p>nil</p>
	<% end %>
		<%= render(BitcoinWeb.SharedView, "_header.html", title: @option.title) %>

		<%= render("_#{@option.name}_signature_form.html", conn: @conn, action: Routes.signature_path(@conn, :display)) %>
</section>