.data {
	word-wrap: break-word;
	word-break: break-all;

	&-title {
		font-weight: $font-weight-bold;
		margin-top: $title-break;
		margin-bottom: $para-break;
	}
	&-heading {
		margin-top: $head-break;
		margin-bottom: $title-break;
	}
}
.data-hover {
	color: $orange;
}

.data-inline {
	display: inline-block;
	margin: 0;
}

// For the Stats page


.stats {
	max-width: $content-max-width;
	
}

.stats-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));;
	grid-gap: 40px;
}

.stats-item {
	display: grid;
	width: 100%;
	grid-template-rows: 1fr 2fr 1fr;
	text-align: center;

	border: 2px solid $white;
	border-radius: 15px;
	padding: 20px;

	&-title {
		font-size: 2rem;
		font-weight: $font-weight-bold;
	}

	&-data {
		font-size: 3rem;
		font-weight: $font-weight-bold;
	}
}