<%= render(BitcoinWeb.SharedView, "_subnav.html", subnav_items: [
			%{text: "home", to: Routes.page_path(@conn, :index)},
			%{text: "transaction home", to: Routes.transaction_path(@conn, :index)},
		])
	%>

<article class="content">
	<%= render(BitcoinWeb.SharedView, "_header.html", title: @option.title) %>

	<%= render("_#{@option.name}_form.html", conn: @conn, action: Routes.transaction_path(@conn, :display, option: @option.name)) %>
</article>
