<%= render(BitcoinWeb.SharedView, "_subnav.html", subnav_items: [
				%{text: "home", to: Routes.page_path(@conn, :index)},
				%{text: "extended key home", to: Routes.extended_key_path(@conn, :index)},
			])
		%>

<article class="content">
		<%= render(BitcoinWeb.SharedView, "_header.html", title: "Convert XPRV to XPUB") %>

		<%= render("_parse_extended_key_form.html", conn: @conn, action: Routes.extended_key_path(@conn, :display, convert: true)) %>

</article>