<article class="column-subnav">
	<ul class="subnav-list">
	<%= for item <- @subnav_items do %>
		<%= link( to: item.to) do %>

			<li class="subnav-button">
				<div class="subnav-text">
					<%= item.text %>
				</div>
			</li>
		<% end %>
	<% end %>
	</ul>
</article>