<section class="row">
  <article class="column">
		<%= render("_header.html", title: "Bitcoin Options") %>
    <ul class="item-list">
      <%= for item <- @items do %>
        <li>
          <%= render(BitcoinWeb.SharedView, "_item_card.html", to: item.route.(@conn, :index), option: item) %>
        </li>
      <% end %>
    </ul>

  </article>

	<%= render("_subnav.html", subnav_items: [
			%{text: "home", to: Routes.page_path(@conn, :index)},
		])
	%>

</section>

