.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 0 2.0rem 100px;
  position: relative;
  width: 100%
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content {
  display:flex;
	flex-direction:column;
	padding:0;
  width: calc(100%);
}

.next-steps {
  max-width: $next-steps-width;
  margin-left: $next-steps-margin;
}


