.nav-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $black;
	z-index: 1000;
}

.nav-list {
	border: 2px solid $white;
	margin: 0;
	background-color: $black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: $navbar-height;

	a {
		height: 100%;
		display: flex;
		flex-grow: 1;
		color: $white;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: $black-light;
		}
	}
	
	li {
		margin: auto 0;
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		
	}
}

// SUB NAV
.subnav {
  display: flex;
  flex-direction: column;
	padding:0;
  width: $subnav-width;
	margin-right: $subnav-margin;
}

.subnav-list {
	list-style: none;
	text-align: center;
}

.subnav-button {
	display: block;
	color: $white;
	border: 2px solid $black;

	&:hover {
		border-color: $gray-dark;
		border-radius: $round-corners;
		background-color: $black-light;
	}

}

.subnav-text {
	margin: 1rem 0;
}