
$content-max-width: 1200px;

$head-break: 3rem;
$title-break: 2rem;
$para-break: 1rem;

$navbar-height: 60px;

$subnav-width: 250px;
$subnav-margin: 50px;

$next-steps-width: 256px;
$next-steps-margin: 20px;

// Stats page variable
