<nav class="nav-wrapper" role="navigation">
  <ul class="nav-list">
		<%= link(to: Routes.page_path(@conn, :index)) do %>
			<li>home</li>
		<% end %>
		<%= link(to: "http://sachinmeier.com") do %>
			<li>about me</li>
		<% end %>
  </ul>
</nav>