<!DOCTYPE html>
<html lang="en">
  <%= render("_head.html", conn: @conn) %>
  <body>
    <header>
        <%= render("_nav.html", conn: @conn) %>
    </header>
    <div class="alert-wrapper">
      <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :warning) %></p>
      <p class="alert alert-info alert-hide" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-error alert-hide" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
    <main role="main" class="container main">
      <%= @inner_content %>
    </main>
  </body>
</html>
